@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



.font-chewy {
  font-family: var(--font-chewy), cursive;
}

.font-genty {
  font-family: var(--font-genty), cursive;
}

.font-lobster {
  font-family: var(--font-lobster), cursive;
}

.font-moresugar {
  font-family: var(--font-moresugar), cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

